html {
    background-color: white;
    margin: 0;
}

h1 {
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 8px;
    font-size: 40px;
    line-height: 25px;
}

.button  {
    width: 40px;
    height: 40px;
    border-radius: 25%;
    border: none;
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
    transition: background 0.2;
}
.button:hover  {
    background-color: rgb(210, 210, 210);
}

#info-button {
    margin: auto 10px auto auto;
}

.title-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: center;
}

.note {
    display: block;
    margin: auto;
    width: 300px;
    min-width: 200px;
    min-height: 75px;
    max-height: 100px;
    border: none;
    background-color: whitesmoke;
    border-radius: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 15px 20px 15px 20px;
    resize: none;
}

.add-note {
    display: block;
    margin: auto;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: rgb(233, 233, 233);
    color: black;
    cursor: pointer;
    transition: background 0.2;
}
.add-note:hover {
    background-color: whitesmoke;
}

#app {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}